@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-red-700">what is happening? </h1>
    <h1 class="display-4 text-red-700">everything should be fine now </h1>

    <p class="text-red-500">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
